body {
  margin: 0;
  padding: 0;
  background-color: #f3edf8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  background-color: white;
  max-width: 301px;
  margin: 100px auto;
  padding: 58px 61px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 44px;
  font-weight: bold;
  color: #4CAF50;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
      width: 74px;
    height: 74px;
    padding: 15px;
}

.logo-text {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #4CAF50;
  outline: none;
}

.login-button {
  width: 69%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 21px;
  background: linear-gradient(to right, #66bb6a, #388e3c);
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login-button:hover {
  opacity: 0.9;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
.form-footer {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
  color: #0056b3;
}


.rotate-logo {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}